

<div class="max-w-7xl mx-auto px-4">
  <div class="max-w-5xl mx-auto">
    <nav class="flex items-center py-4">
      <a href="/">
        <img class="h-12 w-12" src="assets/reborro/glyph.svg">
      </a>
      <div class="ml-auto flex items-center space-x-4">
        <button class="h-10 w-10 text-lg text-zinc-600 bg-zinc-100 rounded-full">
          <i class="fa-solid fa-bell"></i>
        </button>
        <button class="h-10 w-10 text-lg text-zinc-600 bg-zinc-100 rounded-full">
          <i class="fa-solid fa-user"></i>
        </button>
      </div>
    </nav>
  </div>
</div>

<div class="max-w-7xl mx-auto px-4">
  <div class="max-w-5xl mx-auto">
    <section>

      <ui-search></ui-search>



    </section>
  </div>
</div>

<div class="max-w-7xl mx-auto px-4 py-4">
  <div class="max-w-5xl mx-auto">
    <section>

      <ui-cta-carousel></ui-cta-carousel>

    </section>
  </div>
</div>

<div class="max-w-7xl mx-auto px-4">
  <div class="max-w-5xl mx-auto">
    <section>

    <div class="flex justify-evenly">

    </div>

      <ui-carousel></ui-carousel>

    </section>
  </div>
</div>

