<swiper
  [config]="config"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
>
  <ng-template swiperSlide>
    <div class="bg-sky-500 text-white rounded-2xl h-32 w-36 flex items-center justify-center flex-col">
      <img class="rotate-6 w-24" src="assets/mock/lawnmower.png">
      <p class="text-white font-medium">Tools</p>
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="bg-zinc-800 text-white rounded-2xl h-32 w-36 flex items-center justify-center flex-col">
      <img class="-rotate-3 w-32" src="assets/mock/mac.png">
      <p class="text-white font-medium">Computers</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="bg-violet-600 text-white rounded-2xl h-32 w-36 flex items-center justify-center flex-col">
      <img class="rotate-6 w-24" src="assets/mock/a7iii.png">
      <p class="text-white font-medium">Cameras</p>
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="bg-sky-500 text-white rounded-2xl h-32 w-36 flex items-center justify-center flex-col">
      <img class="rotate-6 w-24" src="assets/mock/lawnmower.png">
      <p class="text-white font-medium">Sports Equipment</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="bg-sky-500 text-white rounded-2xl h-32 w-36 flex items-center justify-center flex-col">
      <img class="rotate-6 w-24" src="assets/mock/lawnmower.png">
      <p class="text-white font-medium">Tools</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="bg-sky-500 text-white rounded-2xl h-32 w-36 flex items-center justify-center flex-col">
      <img class="rotate-6 w-24" src="assets/mock/lawnmower.png">
      <p class="text-white font-medium">Tools</p>
    </div>
  </ng-template>
</swiper>
